.basic_input {
  width: 100%;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
  min-height: 0;
}

.contents {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
  padding-top: 0px;
}

.blank {
  max-width: 200px;
  width: 100%;
  border: 1px solid transparent;
}

.users {
  border: 2px solid #cccccc;
  max-width: 200px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.chat_area {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

.input_area {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

.enter_button {
  width: 30%;
  height: 50px;
  background-color: #214597;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 16px;
  cursor: pointer;
  padding: 0;
}

.chat {
  border: 2px solid #cccccc;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #214597;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.chat_logo {
  opacity: 0.1;
  z-index: -1;
  display: flex;
  max-width: 700px;
  width: 40%;
  position: absolute;
}

.msg_box {
  z-index: 0;
  font-size: 20px;
  margin: 5px;
  text-align: left;
  border: 1px solid #cccccc;
  padding: 5px;
  width: fit-content;
  border-radius: 8px;
  background-color: #cccccc;
  font-size: 15px;
}

.users_under {
  display: none;
  border: 2px solid #cccccc;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: column;
  max-width: 500px;
}

@media (max-width: 1200px) {
  .users {
    display: none;
  }

  .blank {
    display: none;
  }

  .users_under {
    display: flex;
  }

  .contents {
    height: calc(100% - 72px);
    gap: 5%;
  }

  .container {
    height: 55%;
  }
  .input_area {
    height: 5%;
  }
  .users_under {
    height: 30%;
    max-width: 700px;
  }
}
